.webzine {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: gray;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.webzine a {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
}

.webzine img {
  position: relative;
  top: -50px;
  max-width: 200px;
  height: 100%;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.25);
}

.webzine .webzine__title,
.webzine .webzine__year {
  margin: 0;
  font-weight: 300;
}

.webzine .webzine__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #333;
}

.webzine .webzine__year {
  margin-right: 10px;
  font-size: 14px;
}
