.card-height {
  margin-bottom: 40px !important;
  min-height: 200px;
}

.card-left {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;
  padding-right: 15px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
}

.card {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;
  padding-left: 15px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
}

.card-img--right {
  border-radius: 0px 15px 15px 0;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.card-img--left {
  border-radius: 15px 0 0 15px;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.card-title {
  font-weight: bolder;
  width: 100%;
}

.card-subtitle {
  font-weight: bolder;
  color: lightslategray;
  width: 100%;
}

.card-text {
  width: 100%;
}
